.forgotpassword{
    text-align:center;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}


.forgotpassword-content{
    margin-top: 319px;
    margin-right: 353px;
    margin-left: 352px;
    margin-bottom: 192px;
    height: 325px;
    width: 735px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(14, 80, 164, 0.3);
}


.forgotpassword-top{
    display: flex;
}

.forgotpassword-img{
    margin-top: 44px;
    margin-left: 31px;
    height: 28.976959228515625px;
    width: 33.99924850463867px;

}

.forgotpassword-tittle{
    margin-top: 44px;
    height: 35px;
    width: 217px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    padding-left: 198px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
}

.forgotpassword-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-input{
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 58px;
    width: 376px;
    background: rgba(14, 80, 164, 0.08);
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
  
}

.btn{
    border: 0px;
    margin-top: 19px;
    height: 58px;
    width: 376px;
    justify-content: center;
    align-items: center;
    padding: 15px 97px;
    background: #0E50A4;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    
}
